<mat-toolbar>
  <mat-toolbar-row>
      <span>Star Wars API</span>
      <ul><button mat-raised-button (click)="vibration()">Vibrate</button></ul>
  </mat-toolbar-row>
  <mat-toolbar-row>
      <span>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle routerLink="/planets">Planets</mat-button-toggle>
              <mat-button-toggle routerLink="/people">People</mat-button-toggle>
              <mat-button-toggle routerLink="/starships">Starships</mat-button-toggle>
          </mat-button-toggle-group>
      </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="example-table-container">
<router-outlet></router-outlet>
</div>